.small-img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin-right: 50px;
    @media (max-width: 768px) {
        width: 350px;
        height: 350px;
        max-width: 350px;
        max-height: 350px;
        margin:auto;
    }
    @media (max-width: 500px) {
        width: 250px;
        height: 250px;
        max-width: 250px;
        max-height: 250px;
    }
}