.services-hero {
    position: relative;
    padding: 30px;
    margin: 30px;

    background-image: url('/img/robert-ostheimer-yzhqa8pj_ui-unsplash.jpg');
    background-position: left center;
    .about-title {
        color: white;
        position: absolute;
        left: 50%;
    }

}

.pricing-card {
    min-height: 400px;
    border: 1px solid black;
}
.pricing-item {
    margin: 20px 0px;
}
