.slider {
    width: 100%;
    margin: auto;
    .slider-item {
        height: 400px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
        .carousel-title {
            z-index: 1;
            opacity: 0;
            position: absolute;
            top: 40px;
            left: 150px;
            font-size: 50px;
            font-weight: bold;
            color: white;
            transition: top 1s, opacity 1s;
        }
        .carousel-text {
            z-index: 1;
            opacity: 0;
            position: absolute;
            top: 250px;
            left: 50px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            transition: left 1s, opacity 1s;

        }
    }
    .slick-active {
        .carousel-title {
            top:100px;
            opacity: 1;
        }
        .carousel-text {
            left: 100px;
            opacity: 1
        }
    }
    .slick-prev:hover, .slick-next:hover {
        background-color: rgba(0,0,0,.1)
    }
    .slick-prev:before, .slick-next:before {
        display: none;
    }
}