.about-hero {
    position: relative;
    padding: 30px;
    margin: 60px 0px;

    background-image: url('/img/ryanphotofam.jpg');
    background-position: center;
    @media (min-width: 1024px) {
        background-image: url('/img/ryanphotofam.jpg');
        background-position: 50% 40%;
        background-size: 100%;
    }
    .about-title {
        color: white;
        position: absolute;
        top: 60%;
        right: 10%;
    }

}

.about-block-container {
    min-height: 690px;
    .large-icon {
        & svg {
            font-size: 100px;
            margin: auto;
        }
    }
    .about-block-titles {
        min-height: 148px;
    }

}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}